<link rel="import" href="/bower_components/polymer/polymer.html">
<dom-module id="pattern-details">
 <template is="dom-repeat" items="{{resources.templates}}">
	  <div class="grid-item">
	    <div class="image" style$="background-image: url({{item.thumbnail}});"></div>
	    <div class="caption">
	      <h3>{{item.name}}</h3>
	      <div>
	        <a href="{{item.demoUrl}}" target="_blank" tabindex="-1">
	          <paper-button raised>View</paper-button>
	        </a>
	        <a href="{{item.sourceUrl}}" target="_blank" tabindex="-1">
	          <paper-button raised>Source</paper-button>
	        </a>
	      </div>
	    </div>
	  </div>
</template>
<script>
Polymer({
  is: 'pattern-details'
});
</script>
</dom-module>